<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css " href="/stles/css">
</head>
<body>
    <div class = "container">
        <h1>Weather app using nodejs</h1>
        <form action="/weather" method="get">
            <input type="text" name = "city"
            placeholder="Enter the name of the city">
            <button type="submit">Get weather</button>
        </form>



    </div>
</body>
</html>